<h1>Welcome to Lost Pets 1418</h1>

<div class="mb-4">
  <%= link_to 'Found a pet? Add it here!', new_pet_path, class: "btn btn-primary" %>
</div>

<div class="row">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet), class: "col-4 mb-2" do %>
      <div class="card ">
        <div class="card-body">
          <h3 class="card-title"><%= pet.name %></h3>
          <p>Last seen:</p>
          <p><%= pet.last_seen_address %></p>
          <p><%= pet.last_seen_at %></p>
          <%= link_to "EDIT", edit_pet_path(pet) %>
          <%= link_to "DELETE", pet_path(pet), data: {turbo_method: :delete, turbo_confirm: 'are you sure?'} %>
        </div>
      </div>
    
    <% end %>
  <% end %>
</div>

